.canvas-layout {
    border: solid 1px;
    overflow: hidden;
    position: fixed;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
}

#user_screen_num {
    display: grid;
    place-content: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30vh;
    color: white;
    pointer-events: none;
}

#current_screen_num {
    position: absolute;
    top: 40px;
    right: 0;
    opacity: 0.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16vh;
    color: white;
    pointer-events: none;
    margin: 1%;
}

#active_status {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    margin: 2%;
}

.total_clients {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.7;
    font-size: 18px;
    pointer-events: none;
}

.red {
    background-color: rgb(255, 0, 0);
}

.green {
    background-color: rgb(6, 255, 6);
}